<footer class="statusbar">
    {{- with .Site.Params.twitter }}
    <span class="statusbar-panel">
        <a href="{{ . }}" target="_blank" rel="noopener">{{ replaceRE "^https?://(www\\.)?" "" . }}</a>
    </span>
    {{- end }}
    {{- with .Site.Params.github }}
    <span class="statusbar-panel">
        <a href="{{ . }}" target="_blank" rel="noopener">{{ replaceRE "^https?://(www\\.)?" "" . }}</a>
    </span>
    {{- end }}
    <span class="statusbar-panel statusbar-grow">
        &copy; {{ now.Year }} {{ with .Site.Params.copyright }}{{ .name }}{{ end }}
    </span>
</footer>
